@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}
* {
  color: white;
}


#task-list::-webkit-scrollbar{
  display: none;
}

.tasks-box::-webkit-scrollbar{
  display: none;
}

#all-tasks::-webkit-scrollbar{
  display: none;
}